.hero-marquee {
    --grid-gap: 24px;
    position: relative;
    z-index: 2;
    margin: 0 auto;
    padding: 72px 0;
    overflow: hidden;
}

@media (min-width: 768px) {
    .hero-marquee {
        --grid-gap: 32px;
    }
}

.hero-marquee__track {
    width: fit-content;
    animation: marquee-mobile calc(var(--card-speed, 3s) * var(--card-count, 6)) linear infinite;
}

@media (min-width: 768px) {
    .hero-marquee__track {
        animation-name: marquee-desktop;
    }
}

.hero-marquee__grid {
    display: grid;
    grid-auto-columns: min-content;
    grid-auto-flow: column;
    width: fit-content;
    gap: var(--grid-gap);
}

.hero-marquee-item {
    --card-media-width: 218px;
    --card-media-height: 272px;
    position: relative;
    width: var(--card-media-width);
    height: var(--card-media-height);
    overflow: hidden;
    transform: perspective(300px) translate3d(0, 0, var(--card-z-offset, 16px));
    transition: all 0.6s ease-out;
    transition-delay: var(--reveal-delay, 0s);
    border-radius: 26px;
    opacity: var(--card-opacity, 0.001);
    color: #fff;
}

.hero-marquee-item.lazyloaded {
    --card-opacity: 1;
    --card-z-offset: 0;
}

@media (min-width: 768px) {
    .hero-marquee-item {
        --card-media-width: 273px;
        --card-media-height: 340px;
        border-radius: 32px;
    }
}

.hero-marquee-item__media {
    display: flex;
    position: relative;
    z-index: 1;
    width: var(--card-media-width);
    height: var(--card-media-height);
    overflow: hidden;
}

.hero-marquee-item__media img,.hero-marquee-item__media video {
    width: var(--card-media-width);
    height: var(--card-media-height);
    object-fit: cover;
    object-position: center center;
}

.hero-marquee-item__info {
    display: grid;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    grid-auto-flow: row;
    grid-auto-rows: min-content;
    align-content: flex-end;
    padding: 12px 16px;
    transform: perspective(300px) translate3d(0, 0, 8px);
    transition: 0.6s ease-out;
    transition-delay: calc(var(--reveal-delay, 0) + 0.3s);
    opacity: 0;
    background: linear-gradient(180deg, transparent 51.91%, rgba(0,0,0,0.3) 75.88%);
    font-size: 13px;
    font-weight: 600;
    line-height: 1;
    user-select: none;
    gap: 8px;
}

@media (min-width: 768px) {
    .hero-marquee-item__info {
        padding:16px 20px;
    }
}

.lazyloaded .hero-marquee-item__info {
    transform: perspective(300px) translate3d(0, 0, 0);
    opacity: 1;
}

.hero-marquee-item__info>* {
    display: flex;
    width: 100%;
}

.hero-marquee-item__tags {
    display: grid;
    grid-auto-columns: min-content;
    grid-auto-flow: column;
    gap: 8px;
    margin-top: 4px;
}

.hero-marquee-item__tag {
    display: flex;
    align-items: center;
    height: 24px;
    padding: 0 9px 2px;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 9999999px;
    font-size: 11px;
    white-space: nowrap;
}

@media (min-width: 768px) {
    .hero-marquee-item__tag {
        padding:0 12px 2px;
    }
}
@keyframes marquee-desktop {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(calc(-50% - 16px), 0, 0)
    }
}
@keyframes marquee-mobile {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(calc(-50% - 12px), 0, 0);
    }
}