<nav class="navbar">
    <ul class="nav-list">
      <li class="nav-item">
        <a routerLink="/"><img src="/assets/header-img.ico" class="nav-item-img" alt="Logo"></a>
      </li>
      <li class="nav-item">
        <a routerLink="/products" class="nav-link">Products</a>
      </li>
      <!-- <li class="nav-item">
        <a routerLink="/login" class="nav-link">Login</a>
      </li> -->
      
      <li class="nav-item">
        <a routerLink='/cart' class="nav-link"  (click)="addToCart()" >Cart({{ count$.count }})</a>
      </li>
      <li class="nav-item">
        <a  class="nav-link"  (click)="login()">Login/SignUp</a>
      </li>
      <li class="nav-item">
        <a  class="nav-link" *ngIf="isLoggedIn" (click)="onLogout()">Logout</a>
      </li>
      <li class="nav-item">
        <span  class="nav-link-item"  *ngIf="isLoggedIn"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="20" fill="white" class="bi bi-person-circle" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
        </svg></span>
      </li>
    </ul>
  </nav>
  <app-slider></app-slider>
  <app-card></app-card>
  <app-footer></app-footer>